# Terraform
.terraform/
*.terraform.lock.hcl
terraform/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Node / JS
node_modules/
dist/
npm-debug.log

# Docker
.dockerignore

# OS
.DS_Store