# Dépendances
node_modules/
npm-debug.log*

# Compilation TypeScript
dist/
*.tsbuildinfo

# Environnement & Secrets
.env
.env.local
.env.stacktrace

# OS & Divers
.DS_Store
thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Variables sensibles
terraform.tfvars
*.auto.tfvars

# Plans terraform
*.tfplan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock (optionnel)
# .terraform.lock.hcl